<%
=begin %>

<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, size: 40, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :born_in %>
        <strong> - Year: </strong>
        <%= f.text_field :born_in, size: 10 %>
      </li>
      <li class="required">
        <%= f.label :gender %>
        <%= f.select( :gender, options_for_select([["Male", "male"],["Female","female"]])) %>
      </li>
      <li class="required">
        <%= f.label :password %>
        <%= f.password_field :password, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </li>
    </ol>
    <p>
        <% if @user.new_record? %>
            <%= f.submit "Create Account" %>
        <% else %>
            <%= f.submit "Update Account" %>
      <% end %>
    </p>
  </fieldset>
<% end %>


<%
=end %>





<br>

<% if @user.new_record? %> 
<div style="padding-left: 25%; padding-right: 25%;">
<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
    <fieldset class="required">

     <div class="form-group" class="required">
    <label for="first_name" class="sr-only">user[first_name]</label>
      <input type="text" name="user[first_name]" id="user[first_name]" class="form-control" placeholder="First Name: Clark" autofocus="autofocus">
      </div>

      <div class="form-group" class="required">
    <label for="last_name" class="sr-only">user[last_name]</label>
      <input type="text" name="user[last_name]" id="user[last_name]" class="form-control" placeholder="Last Name: Kent">
      </div>

      <div class="form-group" class="required">
    <label for="email" class="sr-only">user[email]</label>
      <input type="email" name="user[email]" id="user[email]" class="form-control" placeholder="Email: Batmancantfly@gmail.com">
      </div>

      <div class="form-group" class="required">
    <label for="text" class="sr-only">user[born_in]</label>
      <input type="text" name="user[born_in]" id="user[born_in]" class="form-control" placeholder="Birth Year: 1938">
      </div>

    <div class="form-group" style="color: lightgrey;">
    <label for="text" class="sr-only">user[gender]</label>
    <input type="radio" name="user[gender]" id="user[gender]" value="male" style="width: inherit; color: lightgrey"> Male &nbsp; &nbsp;
    <input type="radio" name="user[gender]" id="user[gender]" value="female" style="width: inherit; color: lightgrey"> Female
      </div>

      <div class="form-group" class="required">
    <label for="key" class="sr-only">user[password]</label>
      <input type="password" name="user[password]" id="user[password]" class="form-control" placeholder="Password">
      </div>

      <div class="form-group" class="required">
    <label for="key" class="sr-only">user[password_confirmation]</label>
      <input type="password" name="user[password_confirmation]" id="user[password_confirmation]" class="form-control" placeholder="Re-Type Password">
      </div>

      
    <p> 
    <input class="btn btn-custom btn-md btn-block" type="submit" value="Create Account" style="color: white;background-color: rgb(0, 202, 0);">
    </p>
  </fieldset>
<% end %>
</div>





<% else %>






<div style="padding-left: 25%; padding-right: 25%;">
<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
    <fieldset class="required">

      <div class="form-group" class="required">
    <label for="email" class="sr-only">user[email]</label>
      <input type="email" name="user[email]" id="user[email]" class="form-control" placeholder=<%= f.email_field :email %>
      </div>


      <div class="form-group" class="required">
    <label for="key" class="sr-only">user[password]</label>
      <input type="password" name="user[password]" id="user[password]" class="form-control" placeholder="Password">
      </div>

      <div class="form-group" class="required">
    <label for="key" class="sr-only">user[password_confirmation]</label>
      <input type="password" name="user[password_confirmation]" id="user[password_confirmation]" class="form-control" placeholder="Re-Type Password">
      </div>
    <p> 
    <input class="btn btn-custom btn-md btn-block" type="submit" value="Update Account" style="color: white;background-color: rgb(0, 202, 0);">
    </p>
  </fieldset>
<% end %>
<% end %>
</div>

