<header id="content-header">
  <h1  style="text-align: center;"> <%= pluralize(@users.size, 'User') %></h1>
</header>


<table class="table table-bordered" id="users" style = "width: 85%; margin-top: 50px;" align="center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>TPC</th>
            <th>Delete User</th>
        </tr>
    </thead>
    <tbody>
  <% @users.each do |user| %>
        <tr>
            <td> <%= link_to user.id, user %> </td>
            <td> <%= link_to user.first_name, user %> <%= link_to user.last_name, user %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.clocked_products.size %> </td>
            <td><%= link_to 'Delete', user, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
        </tr>
          <% end %>
</table>