<header id="content-header">
  <h1  style="text-align: center;"> <%= pluralize(@users.size, 'User') %></h1>
</header>


<table class="table table-bordered" id="users" style = "margin-top: 50px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>            
            <th>Email</th>
            <th>Total Products Clocked</th>
            <th>Total Sessions</th>
            <th>Last Login</th>
        </tr>
    </thead>
    <tbody>
  <% @users.each do |user| %>
        <tr>
            <td> <%= link_to user.id, user %> </td>
            <td> <%= link_to user.first_name, user %> </td>
            <td> <%= link_to user.last_name, user %> </td>
            <td> <%= Time.now.year - user.born_in %> </td>
            <td> <%= user.gender %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.clocked_products.size %> </td>
            <td>Total Sessions</td>
            <td>Last Login</td>
        </tr>
          <% end %>
</table>