<%= content_for(:title, @user.first_name) %>




<article id="user">
  <header>
     <h1 style="text-align: center;"> My Timecard </h1>
  </header>

<% @clocked_products %>
<h4 style="text-align: center;color: #428bca; font-size: 15px;">Products I've Clocked ( <%= @current_user.clocked_products.size %> ) </h4>



<div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 20px;">
<div class="span12 centered-pills">
  <nav> 
<ul class="nav nav-pills" role="tablist">
  <li class="active" style=""><%= link_to 'List View', filtered_users_path(:scope => "future"), :class => "user-nav" %></li>
  <li style="margin-left: 7px;"><%= link_to 'Image View', filtered_users_image_path(:scope => "future"), :class => "user-nav" %></li>
</ul>
</nav> 

<% if @current_user.clocked_products.size < 1 %>

<br>

  <h1> What are you waiting for?! </h1> 
  <a href="/products/filter/trending" style= "text-align: center; width: 100%"><h1 style="color: lightgreen; text-align: center;"> Go Clock Some Upcoming Products! </h1></a>

<% else %>

<div style="height: 22px; width: 315px; background-color: rgb(86, 86, 86); position: absolute;border-radius: 4px;margin-left: auto;margin-right: auto;left: 0;right: 0;margin-top: 1px; ">
 <p style="padd1ing-top: 1px; color: white; text-align: center;"> SORT </p>
</div>


<div class="row" style="margin-right: 0px; margin-left: 0px;">
<div class="span12 centered-pills">  
<nav style="padding-top: 30px;"> 
<ul class="nav nav-pills">
  <li class="<%= 'active' if current_page?(filtered_users_path(:scope => "future")) %>" style="margin-left: 6px; margin-right: 6px; background-color: rgb(86, 86, 86);"> <a href="/users/<%= @current_user.id %>/future"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Releasing Soon</a></li>
  <li class="<%= 'active' if current_page?(filtered_users_path(:scope => "before")) %>" style="background-color: rgb(86, 86, 86);"> <a href="/users/<%= @current_user.id %>/before"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Just Released</a></li>
  <li class="<%= 'active' if current_page?(filtered_users_path(:scope => "unknown")) %>" style="margin-left: 7px; margin-right: 6px; background-color: rgb(86, 86, 86);"> <a href="/users/<%= @current_user.id %>/unknown"style=" width: 100px; height: 45px; padding-top:12.5px;color: white;">TBA</a></li>
</ul>
</nav> 
</div>
</div>




<div class="container" style="text-align: center;padding-left: 5%;padding-right: 5%; border-left: 1px dashed white; border-right: 1px dashed white; border-radius: 20px;">
  <div class="row" style="padding-top: 30px; ">
 
 <div id="list_clocked_products">
  <%= render "show" %>
</div>


   <% end %>

   