<%= content_for(:title, @user.first_name) %>

<article id="user">
  <header>
     <h1 style="text-align: center;"> My Timecard </h1>
  </header>

<% @clocked_products %>
<h4 style="text-align: center;color: red;font-size: 15px;">Products I've Clocked ( <%= @clocked_products.size %> ) </h4>


<table class="timecard" style="width: 60%; margin-top: 25px;" align="center">
  <thead>
    <th><%= sortable "name", "Product Name" %></th>
    <th><%= sortable "releasing_on", "Release Date" %></th>
    <th> Days Remaining </th>
    <th> Unclock </th>
  </thead>
  <tbody>
   <% @clocked_products.each do |product| %>
      <tr>
        <td> <%= link_to product.name, product %> </td>
        <td> <%= format_releasing_on(product) %> </td>
        <td> <span style="color: red;"> <%= format_releasing_on_remaining(product) %> </span>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer>
  <nav>
    <% if current_user_admin? %>
    <hr style="border-color: #000; border: solid 1px;">
      <p style="padding-left: 46%;">
      <%= link_to 'Delete Account', @user, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      <% end %> 
    </p>
  </nav>
</footer>
</article>