<%= render 'header' %>

<h1 style="text-align: center;"> Terms, Cookies, and Policies</h1>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=584095781694269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container" style="display: block; margin-right: auto; margin-left: auto; height: 22px !important; width: 93px !important; overflow: hidden !important; ">
<div class="fb-like" data-href="http://kijovo.com" data-layout="button" data-action="like" data-show-faces="false" data-share="true"> 
</div>
</div>



<div style="position: absolute;text-align: center;padding-top: 3%;padding-left: 16%;">
<%= link_to 'Statement of Rights & Responsibilities','/welcome/rights' %> <br>
Terms you agree to when you use kijovo.

<br><br>

<%= link_to 'Data Use Policy','/welcome/data' %> <br>
Information we receive and how it is used.

<br><br>

<%= link_to 'Cookies','/welcome/cookies' %> <br>
Cookie information & usage.
</div>



<div style="right: 0; position: absolute;text-align: center;padding-top: 3%;padding-right: 16%;">
<%= link_to 'Rules & Standards','/welcome/rules' %> <br>
What’s not allowed and how to report abuse.

<br><br>

<%= link_to 'Privacy','/welcome/privacy' %> <br>
Your profile and what the public can access.

<br><br>

<%= link_to 'Kijovo Principles','/welcome/principles' %> <br>
What we abide by.
</div>
