<%= render 'header' %>

<br>
<br>
<br>

<div style="text-align: center; font-size: 30px;">
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>

<br><br>

<div style="text-align: center;">

<% if current_user %>
 <%= link_to "Keep Browsing", products_url %>
 &nbsp  &nbsp  &nbsp
 <%= link_to "My Timecard", user_path(current_user) %>
<% else %>
 <%= link_to "Back To Kijovo", root_url %>
  &nbsp  &nbsp  &nbsp
 <%= link_to "Sign Up", signup_path %>
  &nbsp  &nbsp  &nbsp
 <%= link_to "Log In", signin_path %>
  <% end %>

</div>