<article>
  <header>
    <h1 style="text-align: center;"> <%= @category.name %> ( <%= @category.products.size %> ) </h1> 
  </header>
</article>

<br>

<% if current_user_admin? %>
<p style="text-align: center;"> <%= link_to "Edit Category", edit_category_path(@category) %>  </p>
    <% end %>

<table class="table table-bordered" id="users" style = "width: 85%; margin-top: 50px;" align="center">
    <thead>
        <tr>
            <th><%= sortable "name", "Product Name" %></th>
            <th><%= sortable "price", "Product Price" %></th>
            <th><%= sortable "created_at", "Created On" %></th>
            <th><%= sortable "updated_at", "Updated On" %></th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
  <% @category.products.each do |product| %>
        <tr>
            <td> <%= link_to product.name, product %> </td>
            <td> <%= format_price(product) %> </td>
            <td> <%= product.created_at.to_s(:long)	 %> </td>
            <td> <%= product.updated_at.to_s(:long) %> </td>
            <td> <%= link_to "Edit", edit_product_path(product) %> </td>
        </tr>
  <% end %>
</table>
