<%= form_for(@product) do |f| %>

  <%= render "shared/errors", object: @product %>


<form class="form-horizontal" role="form">
    <div class="form-group">
    <ol>
      <li class="required">
          <%= f.label :name, "Product Name" %><br/>
          <%= f.text_field :name %>
      </li>
      <% unless @product.new_record? %>
        <li>
          <%= f.label :slug, "URL" %>
          <%= f.text_field :slug, size: 30 %>
        </li>
      <% end %>
      <li class="required">
          <%= f.label :category, "Category" %><br/>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
      </li>
      <li class=>
          <%= f.label :company, "Company" %><br/>
          <%= f.text_field :company %>
      </li>
      <li class=>
          <%= f.label :releasing_on, "Release Date" %><br/>
          <%= f.date_field :releasing_on %>
      </li>
      <li class=>
        <%= f.label :price, "Price" %><br/>
        <%= f.number_field :price %>
      </li>
      <li class>
          <%= f.label :description, "Overview (500 character maximum)" %><br/>
          <%= f.text_area :description, cols: 60, rows: 8 %>

      </li>
      <li class=>
          <%= f.label :website, "Website" %><br/>
          <%= f.text_field :website %>
      </li>
      <li class=> 
          <%= f.label :image, "Profile Picture" %>
          <%= f.file_field :image %>

      </li>
      <li>
          <%= f.label :picture, "More Pictures (1)" %>
          <%= f.file_field :picture %> 
          <% if @product.picture? %> 
              <%= picture_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture1, "More Pictures (2)" %>
          <%= f.file_field :picture1 %> 
          <% if @product.picture1? %> 
              <%= picture1_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture2, "More Pictures (3)" %>
          <%= f.file_field :picture2 %> 
          <% if @product.picture2? %> 
              <%= picture2_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture3, "More Pictures (4)" %>
          <%= f.file_field :picture3 %> 
          <% if @product.picture3? %> 
              <%= picture3_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture4, "More Pictures (5)" %>
          <%= f.file_field :picture4 %> 
          <% if @product.picture4? %> 
              <%= picture4_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture5, "More Pictures (6)" %>
          <%= f.file_field :picture5 %> 
          <% if @product.picture5? %> 
              <%= picture5_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture6, "More Pictures (7)" %>
          <%= f.file_field :picture6 %> 
          <% if @product.picture6? %> 
              <%= picture6_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture7, "More Pictures (8)" %>
          <%= f.file_field :picture7 %> 
          <% if @product.picture7? %>
              <%= picture7_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture8, "More Pictures (9)" %>
          <%= f.file_field :picture8 %> 
          <% if @product.picture8? %> 
              <%= picture8_for(@product) %> 
          <% end %>
      </li>
      <li>
          <%= f.label :picture9, "More Pictures (10)" %>
          <%= f.file_field :picture9 %> 
          <% if @product.picture9? %> 
              <%= picture9_for(@product) %> 
          <% end %>
      </li>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", products_path %>
    </p>
<% end %>
</form>







