<%= form_for(@product) do |f| %>

  <%= render "shared/errors", object: @product %>


<form class="form-horizontal" role="form">
    <div class="form-group">
    <ol>
      <li class="required">
          <%= f.label :name, "Product Name" %><br/>
          <%= f.text_field :name %>
      </li>
      <% unless @product.new_record? %>
        <li>
          <%= f.label :slug, "URL" %>
          <%= f.text_field :slug, size: 30 %>
        </li>
      <% end %>
      <li class="required">
          <%= f.label :category, "Category" %><br/>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
      </li>
      <li class=>
          <%= f.label :company, "Company" %><br/>
          <%= f.text_field :company %>
      </li>
      <li class=>
          <%= f.label :releasing_on, "Release Date" %><br/>
          <%= f.date_field :releasing_on %>
      </li>
      <li class=>
        <%= f.label :price, "Price" %><br/>
        <%= f.number_field :price %>
      </li>
      <li class>
          <%= f.label :description, "Overview (800 character maximum)" %><br/>
          <%= f.text_area :description, cols: 60, rows: 8 %>
      </li>
      <li class=>
          <%= f.label :website, "Website" %><br/>
          <%= f.text_field :website %>
      </li>
      <li class=> 
          <%= f.label :image, "Profile Picture" %>
          <%= f.file_field :image %>
      </li>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", products_path %>
    </p>
<% end %>
</form>









