<% @products.each do |product| %>
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 thumb" style="margin-bottom: 11%;height: 170px;">


<%= link_to product do %>
     <div class="thumbnail" style="margin-bottom: 0px;">  
       <%= image_for(product) %>
        <div class="unit-caption"> 
      <% if current_user %>
        <h2 style="font-size:18px; padding-top: 2px; color:white; padding-left: 3px; padding-right: 3px;"> <%= product.name.upcase.truncate(30) %> </h2>
         <p style="font-size:15px; color:white"> <%= format_price(product) %> </p>
      <% else %>
        <h2 style="font-size:18px; padding-top: 15px; color:white; padding-left: 3px; padding-right: 3px;"> <%= product.name.upcase.truncate(30) %> </h2>
      <% end %>
        </div> 

     </div>
<div style="font-size: 17px; padding-top: 11px; height: 43px; border-radius: 20px; background-color: rgb(167, 205, 249);color: black; text-align: center; position: absolute; z-index: 2; margin-top: 132px; width: 190px; top: 0; left: 0;right: 0;margin-left: auto;margin-right: auto;">
     <%= format_releasing_on(product) %> 
  <div style="color: white;  font-size: 14px;height: 25px; width: 170px; background-color: rgb(74, 102, 183); border-radius: 50px; margin-left: 10px;padding-top: 3.3px; font-weight: 500;"> 
    Days Remaining - <span style="color:rgb(255, 145, 0); font-weight: 500;"> <%= format_releasing_on_remaining(product) %> </span> </div>  
</div>
   <% end %>
   
            <div style="position: absolute; padding-left: 41.3%; padding-top: 25px;">
            <% if current_user %>

              <% if current_user.clocks.find_by(product_id: product.id) %>
              <%= button_to product_clock_path(product, @current_user.clocks.find_by(product_id: product.id)), method: :delete do %>
              <i class="glyphicon glyphicon-time" style= "color:red;"> </i>
              <% end %> 

            <% else %>
              <%= button_to product_clocks_path(product) do %>  
            <i class="glyphicon glyphicon-time" style= "color:white;"> </i>
              <% end %> 
              <% end %>

            <% else %>
              <%= link_to signin_path, data: { confirm: 'You must be logged in to do that.. Click ok to Log In or Sign Up.' }  do %>  
            <i class="glyphicon glyphicon-time" style="color:white;margin-left: 5px;"> </i>
            <% end %>
            <% end %>
          </div> 

  </div>
<% end %>
