<br>
<header>

<div class="row" style="
    margin-right: 0px;
    margin-left: 0px;
">
<div class="span12 centered-pills">  
<nav> 
<ul class="nav nav-pills">
  <li><%= link_to 'Trending', filtered_products_path(:trending) %></li>
  <li><%= link_to 'Releasing Soon', filtered_products_path(:upcoming) %></li>
  <li><%= link_to 'Just Released', filtered_products_path(:past) %></li>
  <li><%= link_to 'TBA', filtered_products_path(:tba) %></li>
</ul>
</nav> 
</div>
</div>
</header>

<br>
<br>

   <div class="container" style="text-align: center;">
    <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 thumb">
       <span style="text-align: center !important;"> <%= link_to(product.name, product_path(product)) %> <a class="thumbnail" href="">
        <img class="img-responsive"> <%= image_for(product) %> </span>
        <%= format_releasing_on(product) %> - <span  style="color: red;"><%= format_releasing_on_remaining(product) %> </span> 
         </a>
<% if current_user %>
  <% if @current_clock %>
  <%= button_to "UnClock", product_clock_path(@products, @current_clock), method: :delete %>
<% else %>
  <%= button_to "Clock", product_clocks_path(@products) %>
  <% end %>
<% end %>
     </div>
    <% end %>
  </div>
