<br>
<header>

<div class="row" style="
    margin-right: 0px;
    margin-left: 0px;
">
<div class="span12 centered-pills">  
<nav> 
<ul class="nav nav-pills">
  <li><%= link_to 'Trending', filtered_products_path(:trending) %></li>
  <li><%= link_to 'Releasing Soon', filtered_products_path(:upcoming) %></li>
  <li><%= link_to 'Just Released', filtered_products_path(:past) %></li>
  <li><%= link_to 'TBA', filtered_products_path(:tba) %></li>
</ul>
</nav> 
</div>
</div>
</header>

<br>
<br>


  <div class="container">
    <div class="row" style="text-align: center !important;">
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-4 thumb">
       <%= link_to(product.name, product_path(product)) %> <a class="thumbnail" href=""> 
        <img class="img-responsive"> <%= image_for(product) %>
        <%= format_releasing_on(product) %> - <%= format_releasing_on_remaining(product) %> 
         </a>
     </div>
    <% end %>
  </div>