<header style="background: #2f2f2f;; position: fixed; width: 100%; z-index: 3; height: 85px; border-bottom: 0px solid rgb(224, 224, 224); margin-top: -30px; border-bottom: 1px solid rgb(65, 65, 65);">


<div class="row" style="margin-right: 0px; margin-left: 0px;">
<div class="span12 centered-pills">  
<nav style="padding-top: 30px;"> 
<ul class="nav nav-pills">
  <li class="<%= 'active' if current_page?(filtered_products_path(:trending)) %>" style="background-color: rgb(86, 86, 86)" > <a href="/products/filter/trending" style=" width: 100px; height: 45px; padding-top: 12.5px; color: white;">Trending</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:upcoming)) %>" style="background-color: rgb(86, 86, 86); margin-left: 20px; margin-right: 20px;"> <a href="/products/filter/upcoming"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Releasing Soon</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:past)) %>" style="background-color: rgb(86, 86, 86)"> <a href="/products/filter/past"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Just Released</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:tba)) %>" style="background-color: rgb(86, 86, 86); margin-left: 20px; margin-right: 20px;"> <a href="/products/filter/tba"style=" width: 100px; height: 45px; padding-top:12.5px;color: white;">TBA</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:newest)) %>" style="background-color: rgb(86, 86, 86)"> <a href="/products/filter/newest"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Just Added</a></li>
</ul>
</nav> 
</div>
</div>
</header>


   <div class="container" style="text-align: center;padding-left: 75px;padding-right: 75px;">
    <div class="row" style="padding-top:90px; ">
    <% @products.each do |product| %>
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 thumb" style="margin-bottom: 8.5%;height: 170px;">


<%= link_to product do %>
     <div class="thumbnail" style="margin-bottom: 0px;">  
       <%= image_for(product) %>
        <div class="unit-caption"> 
        <h2 style="font-size:18px; padding-top: 9px; color:white"> <%= product.name.upcase %> </h2>
         <p style="font-size:15px; color:white"> <%= format_price(product) %> </p>
        </div> 

     </div>
<div style="font-size: 17px; padding-top: 11px; height: 43px; border-radius: 20px; background-color: rgb(167, 205, 249);color: black; text-align: center; position: absolute; z-index: 2; margin-top: 132px; width: 190px; top: 0; left: 0;right: 0;margin-left: auto;margin-right: auto;">
     <%= format_releasing_on(product) %> - <span style="color: red; font-weight: 500;"> <%= format_releasing_on_remaining(product) %> </span>  </div>
   <% end %>
            <div style="position: absolute; padding-left: 41.3%; padding-top: 12px;">
            <% if current_user %>
              <% if current_user.clocks.find_by(product_id: product.id) %>
              <%= button_to product_clock_path(product, @current_user.clocks.find_by(product_id: product.id)), method: :delete do %>
             <i class="glyphicon glyphicon-time" style= "color:red;"> </i>
              <% end %> 
            <% else %>
              <%= button_to product_clocks_path(product) do %>  
            <i class="glyphicon glyphicon-time" style= "color:white;"> </i>
              <% end %> 
              <% end %>
            <% end %>
          </div> 
  </div>
<% end %>
