<header style="background: #F0F0F0; position: fixed; width: 100%; z-index: 2; height: 60px; border-bottom: 1px solid rgb(224, 224, 224);">

<div class="row" style="margin-right: 0px; margin-left: 0px;">
<div class="span12 centered-pills">  
<nav style="padding-top: 10px;"> 
<ul class="nav nav-pills">
  <li><%= link_to 'Trending', filtered_products_path(:trending) %></li>
  <li><%= link_to 'Releasing Soon', filtered_products_path(:upcoming) %></li>
  <li><%= link_to 'Just Released', filtered_products_path(:past) %></li>
  <li><%= link_to 'TBA', filtered_products_path(:tba) %></li>
  <li><%= link_to 'Newest', filtered_products_path(:newest) %></li>
</ul>
</nav> 
</div>
</div>
</header>



   <div class="container" style="text-align: center;padding-left: 75px;padding-right: 75px;">
    <div class="row" style="padding-top:90px; ">
    <% @products.each do |product| %>
     <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="padding-bottom: 3%;height: 302px;">
       <span style="text-align: center !important;"> <%= link_to(product.name, product_path(product)) %> </span> 

        <%= link_to product do %>
         <div class="thumbnail" style="margin-bottom: 0px;"> 
          <img class="img-responsive"> <%= image_for(product) %> 
         </div>
        <% end %>

          <div style="position: absolute; padding-left: 80%; padding-top: 10px;">
            <% if current_user %>
              <% if current_user.clocks.find_by(product_id: product.id) %>
              <%= button_to product_clock_path(product, @current_user.clocks.find_by(product_id: product.id)), method: :delete do %>
             <i class="glyphicon glyphicon-time" style= "color:red;"> </i>
              <% end %> 
            <% else %>
              <%= button_to product_clocks_path(product) do %>  
            <i class="glyphicon glyphicon-time" style= "color:black;"> </i>
              <% end %> 
              <% end %>
            <% end %>
          </div> 

         <div style="font-size: 17px; padding-left: 10%; padding-top: 13px;  height: 45px; text-align: left; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color: rgb(115, 145, 192);color: white;">
             <%= format_releasing_on(product) %> - <span  style="color: black;"><%= format_releasing_on_remaining(product) %> </span> 
        </div>

     </div>
    <% end %>

  </div>
