<header style="background: #2f2f2f;; position: fixed; width: 100%; z-index: 3; height: 85px; border-bottom: 0px solid rgb(224, 224, 224); margin-top: -30px; border-bottom: 1px solid rgb(65, 65, 65);">


<div class="row" style="margin-right: 0px; margin-left: 0px;">
<div class="span12 centered-pills">  
<nav style="padding-top: 30px;"> 
<ul class="nav nav-pills">
  <li class="<%= 'active' if current_page?(filtered_products_path(:trending)) %>" style="background-color: rgb(86, 86, 86)" > <a href="/products/filter/trending" style=" width: 100px; height: 45px; padding-top: 12.5px; color: white;">Trending</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:upcoming)) %>" style="background-color: rgb(86, 86, 86); margin-left: 20px; margin-right: 20px;"> <a href="/products/filter/upcoming"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Releasing Soon</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:past)) %>" style="background-color: rgb(86, 86, 86)"> <a href="/products/filter/past"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Just Released</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:tba)) %>" style="background-color: rgb(86, 86, 86); margin-left: 20px; margin-right: 20px;"> <a href="/products/filter/tba"style=" width: 100px; height: 45px; padding-top:12.5px;color: white;">TBA</a></li>
  <li class="<%= 'active' if current_page?(filtered_products_path(:newest)) %>" style="background-color: rgb(86, 86, 86)"> <a href="/products/filter/newest"style=" width: 100px; height: 45px; padding-top:3px;color: white;">Just Added</a></li>
</ul>
</nav> 
</div>
</div>
</header>


   <div class="container" style="text-align: center;padding-left: 75px;padding-right: 75px;">
    <div class="row" style="padding-top:90px; ">


<div id="products">
  <%= render "index" %>
</div>

<%= will_paginate @products %>
