<br>
<header style="background: #F0F0F0; position: fixed; width: 100%; z-index: 1; height: 48px;">

<div class="row" style="margin-right: 0px; margin-left: 0px; border-bottom: 1px solid rgb(224, 224, 224);">
<div class="span12 centered-pills">  
<nav> 
<ul class="nav nav-pills">
  <li><%= link_to 'Trending', filtered_products_path(:trending) %></li>
  <li><%= link_to 'Releasing Soon', filtered_products_path(:upcoming) %></li>
  <li><%= link_to 'Just Released', filtered_products_path(:past) %></li>
  <li><%= link_to 'TBA', filtered_products_path(:tba) %></li>
</ul>
</nav> 
</div>
</div>
</header>


<br><br>
<br>

   <div class="container" style="text-align: center;padding-left: 75px;padding-right: 75px;">
    <div class="row">
    <% @products.each do |product| %>
     <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="padding-bottom: 3%;height: 302px;">
       <span style="text-align: center !important;"> <%= link_to(product.name, product_path(product)) %> </span> 


       <a class="thumbnail" href="" style="margin-bottom: 0px;"> 
        <img class="img-responsive"> <%= image_for(product) %> 
    </a>


          <div style="position: absolute; padding-left: 64%; padding-top: 10px;">
            <% if current_user %>
              <% if @current_clock %>
              <%= button_to "UnClock", product_clock_path(product, @current_clock), method: :delete %>
            <% else %>
              <%= button_to "Clock", product_clocks_path(product) %>
              <% end %>
            <% end %>
          </div> 

         <div style="font-size: 17px; padding-left: 10%; padding-top: 13px;  height: 45px; text-align: left; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color: rgb(115, 145, 192);color: white;">
             <%= format_releasing_on(product) %> - <span  style="color: black;"><%= format_releasing_on_remaining(product) %> </span> 
        </div>

     </div>
    <% end %>
  </div>
