<%= content_for(:title, @product.name) %> 

<article>

<br>

  <header>
    <h2 style="text-align: center;"><%= @product.name %></h2> 
    <p style="text-align: center;">
      <% if current_user_admin? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <% end %>
    </p>
  </header>

<br>

    <div class="container">
    <div class="row" style="text-align: center !important;">
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" style="position: fixed; width: 340px; height: 287px"> 
        <img class="img-responsive"> <%= image_for(@product) %>
        <%= format_releasing_on(@product) %> - <%= format_releasing_on_remaining(@product) %> 
         </a>
     </div>
  </div>

<div style="padding-left: 400px; padding-right: 60px; position: fixed;">
  <h4 style="text-align: center; margin-top: 1px;">Overview</h4>
    <p style="font-size: 14px;"> <%= @product.description %> </p>
</div>


  <div style="">
 <%= pluralize(@clockers.size, 'clock') %> 
    <% if current_user %>
    <% if @current_clock %>
      <%= button_to "UnClock", product_clock_path(@product, @current_clock), method: :delete %>
    <% else %>
      <%= button_to "Clock", product_clocks_path(@product) %>
  <% end %>
<% end %>
  </div>

  <div style="position: fixed; padding-top: 25%; padding-left: 15%">
  <h4>Price <%= format_price(@product) %> </h4>
</div>
  
  <h5 style="position: fixed; padding-top: 28%; padding-left: 9%"> <%= link_to 'Website', @product.website %> </h5>

</article>