<%= content_for(:title, @product.name) %> 

<article>

<br>

  <header>
    <h2 style="text-align: center;"><%= @product.name %></h2> 
    <p style="text-align: center;">
      <% if current_user_admin? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <% end %>
    </p>
  </header>

<br>

    <div class="container">
    <div class="row">
      <div class="col-md-4 thumb">
        <a class="thumbnail" style="position: absolute; width: 270px;"> 
        <img class="img-responsive"> <%= image_for(@product) %>
         </a>
     </div>
  </div>

<div style="margin-left: 350px; position: absolute; width: 500px;">
    <h4 style="text-align: center; margin-top: .5px;">Overview</h4>
    <p style="font-size: 14px;"> <%= @product.description %> </p>
</div>

 <div style="margin-top: 235px; width: 270px;">
     <%= format_releasing_on(@product) %> - <span style="color: red;"> <%= format_releasing_on_remaining(@product) %> </span>
    <% if current_user %>
    <% if @current_clock %> 
      <%= button_to "UnClock", product_clock_path(@product, @current_clock), method: :delete %>
    <% else %>
      <%= button_to "Clock", product_clocks_path(@product) %>
  <% end %>
<% end %>
  </div>

  <div style="margin-top: 10px; width: 270px; text-align: center;">
  <h4>Price <%= format_price(@product) %> </h4>
</div>
  
  <h5 style="margin-top: 10px; width: 270px; text-align: center;"> <%= link_to 'Website', @product.website %> </h5>

</article>