<%= content_for(:title, @product.name) %> 



<article>

<br>

  <header>
  <% if current_user_admin? %>
    <p style="text-align: center; width: 80%; margin-left: 9%;">
      <%= link_to "Edit", edit_product_path(@product) %>
    </p>
  <% end %>

    <h1 style="text-align: center; font-size: 18px; border-radius: 6px; height: 38px; width: 80%; padding-top: 9px; margin-left: 9%; background-color: rgb(81, 81, 81);color: white;"> <%= @product.name %> </h1> 
  </header>

<br>

    <div class="container">
    <div class="row">
      <div class="col-md-4 thumb" style="padding-bottom: 0px;">
        <div class="thumbnail" style="position: absolute; width: 270px;"> 
        <img class="img-responsive"> <%= image_for(@product) %>
          <div style="position: absolute; padding-left:180px; padding-top: 9px;"> 
    <% if current_user %>
    <% if @current_clock %> 
      <%= button_to product_clock_path(@product, @current_clock), method: :delete do%>
       <i class="glyphicon glyphicon-time" style= "color:red;"> </i>
        <% end %> 
    <% else %>
      <%= button_to product_clocks_path(@product) do %>
      <i class="glyphicon glyphicon-time" style= "color:black;"> </i>
    <% end %> 
    <% end %> 


          </div> 
         <div style="font-size: 17px; padding-left: 18px;padding-top: 11px; height: 45px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background-color: rgb(115, 145, 192);color: white;">
     <%= format_releasing_on(@product) %> - <span style="color: black;"> <%= format_releasing_on_remaining(@product) %> </span>  </div>
        <% end %> 
        </div>
    </div>
  </div>

<div style="margin-left: 310px; position: absolute; width: 475px; border-radius: 8px; background-color: rgb(81, 81, 81); height: 340px; width: 450px;">
    <h4 style="font-size: 16px; text-align: center; margin-top: 18px; color: rgb(167, 205, 249);">Overview</h4>
    <p style="font-size: 14px; padding-left: 25px; padding-right: 25px; color: white;"> <%= @product.description %> </p>
</div>

  <div style="padding-top: 1.5px; margin-top: 252px; width: 270px; height: 38px; text-align: center; border-radius: 6px; background-color: rgb(81, 81, 81);color: white;">
  <h4 style="font-size: 14px;">Price <%= format_price(@product) %> </h4>
</div>
  
  <h5 style="padding-top: 11px; margin-top: 12px; width: 270px; height: 38px; text-align: center; border-radius: 6px; background-color: rgb(81, 81, 81);"> <%= link_to 'Website', @product.website %> </h5>






<% if @product.picture? %> 

<html lang="en">
<head>
<meta charset="UTF-8">
<title>Picture Slider</title>

<style type="text/css">

.item{
    background: #333;    
    text-align: center;
    height: 350px !important;
}
.carousel{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.bs-example{
  margin: 20px;
}

.img{
  height: 100% !important;
}

</style>
</head>

<body>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="100000" data-ride="carousel">
      <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <% if @product.picture? %> 
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <% end %>
          <% if @product.picture1? %> 
            <li data-target="#myCarousel" data-slide-to="1"></li>
          <% end %>
          <% if @product.picture2? %> 
            <li data-target="#myCarousel" data-slide-to="2"></li>
          <% end %>
          <% if @product.picture3? %> 
            <li data-target="#myCarousel" data-slide-to="3"></li>
          <% end %>
          <% if @product.picture4? %> 
            <li data-target="#myCarousel" data-slide-to="4"></li>
          <% end %>
          <% if @product.picture5? %> 
            <li data-target="#myCarousel" data-slide-to="5"></li>
          <% end %>
          <% if @product.picture6? %> 
            <li data-target="#myCarousel" data-slide-to="6"></li>
          <% end %>
          <% if @product.picture7? %> 
            <li data-target="#myCarousel" data-slide-to="7"></li>
          <% end %>
          <% if @product.picture8? %> 
            <li data-target="#myCarousel" data-slide-to="8"></li>
          <% end %>
          <% if @product.picture9? %> 
            <li data-target="#myCarousel" data-slide-to="9"></li>
          <% end %>

        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
          <% if @product.picture? %> 
            <div class="active item">
              <%= picture_for(@product) %> 
            </div>
          <% end %>

          <% if @product.picture1? %> 
            <div class="item">
              <%= picture1_for(@product) %> 
            </div>
          <% end %>

          <% if @product.picture2? %> 
            <div class="item">
              <%= picture2_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture3? %> 
            <div class="item">
              <%= picture3_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture4? %> 
            <div class="item">
              <%= picture4_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture5? %> 
            <div class="item">
              <%= picture5_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture6? %> 
            <div class="item">
              <%= picture6_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture7? %> 
            <div class="item">
              <%= picture7_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture8? %> 
            <div class="item">
              <%= picture8_for(@product) %>  
            </div>
          <% end %>

          <% if @product.picture9? %> 
            <div class="item">
              <%= picture9_for(@product) %>  
            </div>
          <% end %>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</body>
</html>                                   


</div>
<% end %> 

</article>
