<%= content_for(:title, @product.name) %> 

<article>

<br>

  <header>
  <% if current_user_admin? %>
    <p style="text-align: center; width: 80%; margin-left: 9%;">
      <%= link_to "Edit", edit_product_path(@product) %>
    </p>
  <% end %>

    <h1 style="text-align: center; font-size: 18px; border-radius: 6px; height: 38px; width: 80%; padding-top: 9px; margin-left: 9%; background-color: rgb(81, 81, 81);color: white;"> <%= @product.name %> </h1> 
  </header>

<br>

    <div class="container">
    <div class="row">
      <div class="col-md-4 thumb" style="padding-bottom: 0px;">
        <div class="thumbnail" style="position: absolute; width: 270px;"> 
        <img class="img-responsive"> <%= image_for(@product) %>
          <div style="position: absolute; padding-left:180px; padding-top: 9px;"> 
    <% if current_user %>
    <% if @current_clock %> 
      <%= button_to product_clock_path(@product, @current_clock), method: :delete do%>
       <i class="glyphicon glyphicon-time" style= "color:red;"> </i>
        <% end %> 
    <% else %>
      <%= button_to product_clocks_path(@product) do %>
      <i class="glyphicon glyphicon-time" style= "color:black;"> </i>
    <% end %> 
    <% end %> 


          </div> 
         <div style="font-size: 17px; padding-left: 18px;padding-top: 11px; height: 45px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background-color: rgb(115, 145, 192);color: white;">
     <%= format_releasing_on(@product) %> - <span style="color: black;"> <%= format_releasing_on_remaining(@product) %> </span>  </div>
        <% end %> 
        </div>
    </div>
  </div>

<div style="margin-left: 310px; position: absolute; width: 475px; border-radius: 8px; background-color: rgb(81, 81, 81); height: 340px; width: 450px;">
    <h4 style="font-size: 16px; text-align: center; margin-top: 18px; color: rgb(167, 205, 249);">Overview</h4>
    <p style="font-size: 14px; padding-left: 25px; padding-right: 25px; color: white;"> <%= @product.description %> </p>
</div>

  <div style="padding-top: 1.5px; margin-top: 252px; width: 270px; height: 38px; text-align: center; border-radius: 6px; background-color: rgb(81, 81, 81);color: white;">
  <h4 style="font-size: 14px;">Price <%= format_price(@product) %> </h4>
</div>
  
  <h5 style="padding-top: 11px; margin-top: 12px; width: 270px; height: 38px; text-align: center; border-radius: 6px; background-color: rgb(81, 81, 81);"> <%= link_to 'Website', @product.website %> </h5>

  <div>
    <%= picture_for(@product) %> 
    <%= picture1_for(@product) %> 
    <%= picture2_for(@product) %> 
    <%= picture3_for(@product) %>  
    <%= picture4_for(@product) %> 
    <%= picture5_for(@product) %>  
    <%= picture6_for(@product) %> 
    <%= picture7_for(@product) %>           
    <%= picture8_for(@product) %> 
    <%= picture9_for(@product) %> 
</div>

</div>

</article>
