<!DOCTYPE html>
<html>

<%= page_title %>

<head>
  <title>Kijovo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'Kijovo_logo.png' %>
  <meta property="og:type" content="upcoming-product-release" >
  <meta property="og:url" content="kijovodemo.herokuapp.com" > 
  <meta property="og:title" content=" KiBrovo | Upcoming Product Release" > 
  <meta property="og:image" content=" kijovo_name-145042e5bbd6cc7a8a52abb141de8217.png " > 
</head>
<body>

<%= render "layouts/header" %>

<div id="wrapper">

  <%= render "layouts/flashes" %>
  
  <div id="container">

<%= yield %>


<% if not current_user %>
	<%= render "layouts/footer" %>
<% end %>

</body>

</html>
