<!DOCTYPE html>
<html>

<%= page_title %>

<head>
  <title>Kijovo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="584095781694269" />
  <meta property="og:type" content="upcoming-product-release" />
  <meta property="og:url" content="http://kijovo.com" /> 
  <meta property="og:title" content="Upcoming Product Release" /> 
  <meta property="og:image" content="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xpa1/t39.2178-6/851565_496755187057665_544240989_n.jpg" /> 
</head>
<body>

<%= render "layouts/header" %>

<div id="wrapper">

  <%= render "layouts/flashes" %>
  
  <div id="container">

<%= yield %>


<% if not current_user %>
	<%= render "layouts/footer" %>
<% end %>

</body>

</html>
