<!DOCTYPE html>
<html>

<%= page_title %>

<head>
  <title>Kijovo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'Kijovo_logo.png' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

<%= render "layouts/header" %>

<div id="wrapper">

  <%= render "layouts/flashes" %>
  
  <div id="container">

<%= yield %>


<% if not current_user %>
	<%= render "layouts/footer" %>
<% end %>

</body>

</html>
