<!DOCTYPE html>
<html>

<%= page_title %>

<head>
  <title>Kijovo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<p>
  <%= flash[:notice] %>
</p>

<%= yield %>


<% if not current_user %>
	<%= render "layouts/footer" %>
<% end %>

</body>

</html>
